.realisations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 18% auto;
    font-family: FiraSans;
}

.realisations-ttl {
    font-size: 2rem;
    color: var(--accent-blue);
    margin-bottom: 5rem;
}

.carousel-container {
    width: 50%;
    margin: 4rem auto 7rem;
    background-color: #c0b9b98e;
    padding: 4rem;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.carousel-ttl {
    color: var(--accent-blue);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    width: 45rem;
    height: 45rem;
    margin: 0 auto;
    position: relative;
}

.carousel-content img {
    width: 45rem;
    height: 45rem;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.carousel-content img.active {
    opacity: 1;
    position: relative;
}

.carousel-btn {
    background-color: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 2;
}

.carousel-btn:hover {
    background-color: var(--accent-gold);
    transform: scale(1.1);
}

.prev {
    left: -20px;
}

.next {
    right: -20px;
}

.carousel-pagination {
    text-align: center;
    margin-top: 1rem;
    color: var(--accent-blue);
    font-size: 1.1rem;
}
